body {
    font-family: Garamond, Georgia, serif;
    color: #244e05;
}

h1 {
    font-size: 40px;
    background-color: #c4df92;
}

.caption {
    font-size: 14px;
    color:#5f8125;
}

ul {
    color:#5f8125;
    font-size: 18px;
}

ol {
    color: #5f8125;
    font-size: 18px;
}