body {
    font-family: Garamond, Georgia, serif;
    color: #4d3f31
}

h1 {
    font-size: 40px;
    background-color: #d8b088;
}

.caption {
    color:#804f1d;
    font-size: 14px;
}

.secondary {
    color:#804f1d;
    font-size: 18px;
}